@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drop-shadow-custom {
    --tw-drop-shadow: drop-shadow(0 0px 1px rgb(93 160 212 / 1))
      drop-shadow(0 0px 1px rgb(93 160 212 / 1));
  }

  .triangle {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav: 4rem;

  @apply text-black;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
